@font-face {
    font-family: nb;
    src: url(./font/NBInternationalProBoo.ttf);
}

@font-face {
    font-family:rj ;
    src: url(./font/Rejouice-Headline.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: pointer; */
    /* user-select: none; */
}

html,body{
    height: 100%;
    width: 100%;
}

::selection{
    background-color: rgba(255, 68, 0, 0.444);
    color: yellow;
}

body::-webkit-scrollbar{
    display: none;
}

#loader{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    pointer-events: none;
}



#loader h3{
    color: white;
    font-size: 2vw;
    font-weight: 100;
}

#menu{
    /* display: none; */
    min-height: 50vh;
    width: 100%;
    background-color: #FF5F38;
    position: absolute;
    z-index: 999999;
    transform: translateY(-100vh);
    display: flex;
    flex-direction: column;
    padding: 5vh 10vh 5vh 10vh;
}

.wrapper{
    /* border: 1px solid white; */
    width: 50%;
    margin-right: 7vw;
}

.wrapper h4{
    font-weight: 100;
}

#menuNav{
    width: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    justify-content: space-between;
}

#menuNavLeft{
    text-transform: lowercase;
}

#menuNavRight{
    /* background-color: rebeccapurple; */
    transition: all ease 0.5s;
}

#menuNavRight:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

#menuNav h3{
    font-size: 3vh;
    font-weight: 200;
    font-family: rj;
}

#menuMid{
    width:100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: flex-start;
    /* justify-content: space-between; */
}

#menuVideo{
    /* border: 1px solid white; */
    /* width: 50%; */
    width: 30%;
    /* height: 100%; */

}

.home{
    /* background-color: green; */
    height: 8vh;
    overflow-y: hidden;
    
}

.work{
    /* background-color: green; */
    height: 8vh;
    display: flex;
    align-items: flex-end;
    /* justify-content: end; */
    overflow-y: hidden;
    
}

.home>div{
    /* border: 1px solid white; */
    width: fit-content;
    transition: all ease-in-out 0.3s;
}

.work>div{
    /* border: 1px solid white; */
    width: fit-content;
    transition: all ease-in-out 0.3s;
}

.home>div:hover{
    cursor: pointer;
    transform: translateY(-50%);
}

.work>div:hover{
    cursor: pointer;
    transform: translateY(50%);
}

#menuOpt{
    /* border: 1px solid white; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#menuOpt div{
    font-size: 7vh;
    font-weight: 500;
    /* margin-bottom: 1vh; */
}

#menuVideo video{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    cursor: pointer;
    /* height: 500px; */
}

#videoTag{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#videoTag h3{
    font-weight: 100;
    font-family: nb;
}

#NavButton{
    border: 1px solid black;
    margin-block: 1vw;
    border-radius: 5px;
    padding: 1vw;
    width: fit-content;
}

#NavButton h4{
    font-size: 1vw;
    font-family: nb;
    font-weight: 100;
}

#navRight:hover{
    cursor: pointer;
    border-bottom: 1px solid white;
}

#cursor{
    scale: 0;
    opacity: 0;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF5F38;
    transform: translate(-50%,-50%);
}

#cursor h5{
    font-size: 1.5vw;
    font-weight: 500;
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
}

#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    /* z-index: 1; */
}

#page1-content{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.352);
    /* border: 2px solid red; */
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    /* height: 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vw 3vw;
    width: 100%;
    /* background-color: red; */
}

nav h3{
    /* border: 1px solid red; */
    font-size: 1.4vw;
    font-weight: 500;
    font-family: nb;
}

#page1-content h1{
    /* gap: 0; */
    /* letter-spacing: -100; */
    /* border: 1px solid green; */
    /* width: 100%; */
    font-size: 27vw;
    font-weight: 10;
    font-family: rj;
    line-height: 27vw;
    display: flex;
    align-items:center ;
    justify-content: center;
}

#page1-content h1 span{
    /* border: 1px solid red; */
    font-family: rj;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
}

#page2{
    /* border: 1px solid red; */
    height: 100vh;
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10vw;
    padding: 0 1.5vw;
    font-family: nb;
}

#page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 1vw;
    font-weight: 100;
    padding: 4vw 0 1vw 0;
    border-bottom: 1px solid rgb(81, 81, 81);
}

#page2-bottom{
    padding: 0 4vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


#page2-bottom h2{
    font-size: 4vw;
    font-family: nb;
    font-weight: 100;
}
.mid{
    padding: 0 6vw;
}


#page3{
    background-color: beige;

    min-height: 100vh;
    width: 100%;
    /* background-color: lime; */
    position: relative;
    padding: 3vw;
}

#page3-top{
    /* background-color: red; */
    text-align: center;
}

#page3-top h4{
    line-height: 0;
    margin-bottom: 1vw;
    font-size: 1vw;
    font-weight: 500;
    font-family: rj;
}

#page3-top h4 span{
    background-color: black;
    color: white;
    font-size: 0.6vw;
    /* font-weight: 500; */
    padding: 5px 8px;
    border-radius: 10px;
}

#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-elements{
    margin-top: 8vw;
    height: 75vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3-elements .box{
    height: 100%;
    width: 32%;
    background-color: blue;
    position: relative;
}

.box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 100;
}

#page3-elements .box img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: all ease 1s;
}

#page3-elements .box:hover img{
    opacity: 0;
}

#page4-top{
    width: 100%;
    background-color: beige;
    padding: 3vw;
}

#fake-text{

    padding: 1vw 0vw;
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
}

#fake-text h4{
    font-weight: 100;
    font-size: 2vw;
    line-height: 2vw;
    font-family: nb;
}

#text{
    padding: 0 3.5vw;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#text>h2{
    font-size: 4vw;
    font-family: nb;
    font-weight: 100;
}

#seats{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seats > h3{
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: rj;
}

#seat-top{
    font-weight:100;
    font-family: rj;
    height: 11vh;
    width: fit-content;
    /* border: 1px solid red; */
    overflow-y: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#scroll-number{
    margin-right: 0.3vw;
    /* border: 1px solid red; */
}

#seat-top h3{
    
    font-size: 4vw;
    color: white;
    letter-spacing: 3px;
    padding: 4px 0;
}


#page4{
    height: 100vh;
    width: 100%;
    background-color: beige;
    /* background-color: black; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor2{
    opacity: 0;
    scale: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: black;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor2 h2{
    color: white;
    font-size: 2vw;
    font-weight: 100;
}

#page4 video{
    height: 100%;
}

#page4 svg{
    position: absolute;
    height: 65%;
}

#page5{
    height: 100vh;
    width: 100%;
    background-color: beige;
    padding: 4vw 0;
    position: relative;
}

#page5 h1{
    font-size: 10vw;
    font-family: rj;
    font-weight: 100;
    border-bottom: 1px solid rgb(82, 82, 82);
    /* background-color: #FF5F38; */
    width: 96%;
    margin-left: 2%;
}

#swipper{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
}


.swiper {
    width:100%;
    height: 100%;
    margin-top: -10%;
  }

  .swiper-slide {
    width: 400px;
    text-align: center;
    font-size: 18px;
    /* background: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    /* margin-top: -7%; */

  }

  .swiper-slide img {
    display: block;
    width: 19%;
    /* height: 100%; */
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }